.slider{
  height: max-content;
  //width: 100%;
  //display: flex;
  //width: 300px;
  overflow: hidden;
}

.list{
  //display: flex;
  //width: 600px;
  transition: 250ms;
  //transform: translateX(-50%);
}

.slide{
  //width: 300px;
  //flex: 1;
  //position: relative;
  //width: 100%;
  //margin: 0 auto;
}
