$accent-cyan-400: #29adab;
$accent-cyan-500: #00c8bc;
$accent-orange: #c84800;
$accent-red: rgba(183, 19, 19, 0.5);
$accent-green: #00C814;

$background: #0D0D0D;
$outline: #404040;

$main-50: rgba(0, 0, 0, 0.3);
$main-100: rgba(27, 27, 27, 0.2);
$main-150: rgba(46, 46, 46, 0.2);
$main-200: rgba(91, 91, 91, 0.25);

$neutral-100: rgba(75, 74, 74, 0.3);
$neutral-200: rgba(75, 74, 74, 0.5);
$neutral-400-full: rgba(89, 89, 89, 1);

$border-radius: 3px
