@use '../../../../vars' as v;

.title {
  display: flex;

  transition: v.$transition;
  justify-content: space-between;
  margin-bottom: 15px;

  align-items: center;
}

.actualTitle {
  transition: v.$transition;
  position: relative;
  width: min-content;
}

.uiSelector {
  transition: v.$transition;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

.uiSelectorShowed {
  opacity: 1;
  pointer-events: all;
}
