@use '../../vars' as v;

.dot {
  width: 3px;
  height: 2px;
  background-color: v.$c_dark;
  border-radius: v.$b_radius;
}

.dotsSeparator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline: 3px;
}
