@use '../../../vars' as v;
@use '../authVars' as av;

.auth{
  //height: 100%;

  //display: flex;
  //justify-content: center;
  //flex-direction: column;
  font-size: 20px;

  transition: av.$transition;
  //width: 300px;
  width: 100%;
}
