@use '../../../../vars' as v;

.input {
  //opacity: 0;
  transition: v.$transition;
  //pointer-events: none;

  height: max-content;
}

//.inputShowed {
//  opacity: 1;
//  pointer-events: all;
//}

.inputZone {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: v.$transition;
  height: 0;
}

.inputDummy {
  transition: v.$transition;
  height: 0;
}
