@use '../../../../vars' as v;
@use "../../authVars" as av;

.input {
  @include av.input;

  opacity: 0;
  transition: av.$transition;
  pointer-events: none;
}

.inputShowed {
  opacity: 1;
  pointer-events: all;
}

.inputZone {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: av.$transition;
  height: 0;
}

.inputDummy {
  transition: av.$transition;
  height: 0;
}
