@use '../../../vars' as v;

.success{
  font: 500 14px HelveticaNeueCyr;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signed{
  text-align: center;
}

.green{
  color: lawngreen;
}

.cyan{
  color: #27f3f3;
}

.button{
  @include v.button;
  align-self: center;
  margin-top: 5px;
}

//.inline{
//  display: inline
//}
