@use '../../vars' as v;

.uiSelector{
  position: relative;
  font-size: 12px;

  width: max-content;
  height: max-content;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.selectorUnderline {
  position: absolute;
  height: 3px;
  border-radius: v.$b_radius;
  background-color: v.$c_accent;

  left: 0;
  bottom: -6px;
}
