@use '../../vars' as v;

.inputWrapper {
  font: v.$HelveticaNeueCyr;
  font-size: 16px;

  border-radius: v.$b_radius;
  border: 1px solid v.$c_border;

  padding: 11px 15px;
}

.input {
  width: 100%;
}

.inputInvisible{
  opacity: 0;
  pointer-events: none;
}

.label {
  position: absolute;
  top: 12px;
  left: 11px;
  padding: 0 8px;

  transition: 250ms;
  pointer-events: none;
  font-size: 13px;

  background: #0D0000;
}

.blend {
  mix-blend-mode: lighten;
  position: relative;
}
