.input{
  width: 100%;
  //border: 1px solid radial-gradient(red 10px, #1e90ff 50%);

}

.label{
  position: absolute;
  top: 0;
  left: 0;
  transition: 250ms;
  pointer-events: none;
  font-size: 13px;
}
