@use '../../../../vars' as v;

.errorZone{
  //overflow: visible;
  //height: 0;
  //position: absolute;
  height: max-content;

  //font-size: 14px;
  font: 500 15px HelveticaNeueCyr;
  color: red;
}

.errorZoneInner{
  position: relative;
}

.error{
  transition: v.$transition;
  //transition:1s;
  opacity: 0;

  position: absolute;
  top: 0;
}

.errorShowed{
  opacity: 1;
}
