@use '../../vars' as v;

.modal{
  position: absolute;
  border: v.$c_border;
  margin-top: 5px;

  z-index: 1;

  border-radius: v.$b_radius;
  background: v.$c_global;
  backdrop-filter: blur(7.5px);
}
