@use '../../vars' as v;
@use "./ScheduleGlobal" as g;

.schedule{
  margin-top: 10px;
}

.dayNames {
  display: flex;
  gap: g.$gap;

  margin-bottom: 10px;
}

.weekDayNames{
  margin-left: 72.5px;
}

.dayNames > * {
  flex-grow: 1;
  width: 0;
  text-align: center;
}

.dayNames > *:nth-last-child(-n+2) {
  color: red;
}

.switcher{
  //width: max-content;
  position: absolute;
  width: 48px;
  height: 21px;
  display: flex;
  font-size: 15px;
}

.separator{
  height: 100%;
  width: 2px;
  transform: scaleY(90%) rotate(15deg);
  margin-inline: 5px;
  border-radius: 1px;
  background-color: v.$c_dark;
}
