@use '../../vars' as v;

$gap: 10px;

.schedule{
  margin-top: 10px;
}

.dayNames {
  display: flex;
  gap: $gap;

  margin-bottom: 10px;

  margin-left: 72.5px;
}

.dayNames > * {
  flex-grow: 1;
  width: 0;
  text-align: center;
}

.dayNames > *:nth-last-child(-n+2) {
  color: red;
}
//
//.dayObjects {
//  display: grid;
//  grid-template-columns: repeat(7, 1fr);
//  grid-template-rows: repeat(6, auto);
//  gap: $gap;
//}
//
//.day {
//  height: 134px;
//  border-radius: 10px;
//
//  background: rgba(51, 51, 51, 0.35);
//  background-blend-mode: lighten;
//  border: 1px solid #404040;
//  box-shadow: 0 0 9px rgba(0, 0, 0, 0.62);
//
//  padding: 10px 10px;
//
//  font: 500 12px HelveticaNeueCyr;
//}
//
//.dayInner {
//  height: 100%;
//  width: 100%;
//}
//
//.events{
//  height: 100%;
//  overflow: hidden;
//}
//
//.redTab {
//  height: 2px;
//  width: 6px;
//  background-color: red;
//  margin-inline: 5px;
//  align-self: center;
//
//  border-radius: 5px;
//}
//
//.timeRange{
//  display: flex;
//}
//
//.timeTaken{
//  color: v.$c_dark;
//}
//
//.darkDot{
//  width: 3px;
//  height: 2px;
//  background-color: v.$c_dark;
//  border-radius: 5px;
//}
//
//.darkDots{
//  display: flex;
//  flex-direction: column;
//  justify-content: space-around;
//  margin-inline: 3px;
//}
//
//.event{
//  display: flex;
//}
//
//.description{
//  display: flex;
//  align-items: center;
//}
//
//.separator{
//  background-color: v.$c_border;
//  width: 100%;
//  height: 1px;
//  border-radius: 5px;
//}
//
//.date{
//  position: relative;
//  top: -18px;
//  height: 0;
//}

//----------------------------------------------------------------------------

.week{
  height: 850px;
  font: normal 500 11px HelveticaNeueCyr;

  display: flex;
  //gap: 25px;
}

.timeRange{
  display: flex;
}

.clocks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clockLine{
  width: 10px;
  height: 2px;
  background-color: v.$c_border;
  border-radius: 1px;
}

.clockLine:nth-child(6n+1){
  width: 15px;
  margin-left: -5px;
}

.lines{
  margin-block: 5px;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid{
  position: relative;
  margin-left: 25px;

  width: 100%;

  margin-block: 5px;
}

.gridVertical{
  flex-direction: column;
}

.horizontalLine{
  width: 100%;
  height: 2px;
}

.verticalLine, .horizontalLine{
  background-color: v.$c_border;
  border-radius: 1px;
}

.gridHorizontal, .gridVertical{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.verticalLine{
  height: 100%;
  width: 2px;
}

.horizontalLine:first-child, .horizontalLine:last-child,
.verticalLine:first-child, .verticalLine:last-child
{
  background-color: transparent;
}




.dayEvents{
  //height: 100%;
  //margin-block: 1px;
  margin-top: 1px;
}

.event{
  position: absolute;
  min-height: 34.9px;
  width: 194px;
  background-color: v.$c_main;
  border-radius: 1px;

  background-blend-mode: lighten;
  backdrop-filter: blur(1.5px);

  padding: 3px 5px;
}

.outliner{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.inversedOutliner{
  transform: rotate(180deg);
  right: 0;
}

.topLine, .baseLine, .bottomLine{
  background-color: v.$c_dark;
  border-radius: 1px;
  position: absolute;
}

.bottomLine{
  bottom: 0;
}

.topLine,.bottomLine{
  width: 20px;
  height: 2px;
}

.baseLine{
  height: 100%;
  width: 2px;
}














//.gridVertical{
//  position: absolute;
//  width: 100%;
//  height: 100%;
//
//  display: flex;
//  justify-content: space-evenly;
//}
//
//.verticalLine{
//  width: 2px;
//  height: 100%;
//  background-color: v.$c_border;
//  border-radius: 1px;
//}

