@use '../../vars' as v;

$transition: 250ms;

.auth{
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;

  transition: $transition;
  width: 300px;
}

.buttons{
  display: flex;
  gap: 5px;
  position: relative;
  width: min-content;
  transition: $transition;
}

.button{
  @include v.button;
  font: v.$HelveticaNeueCyr;
  font-size: 16px;

  width: max-content;
  align-self: flex-end;
  transition: $transition;
}

.input{
  font: v.$HelveticaNeueCyr;
  font-size: 16px;

  border-radius: v.$b_radius;
  border: 1px solid v.$c_border;

  padding: 11px 15px;
  opacity: 1;
  transition: $transition;
}

.inputTransparent{
  opacity: 0;
  transition: $transition;
  pointer-events: none;
}

.inputZone{
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 350ms;
  height: 0
}

.inputDummy{
  transition: $transition;
  height: 0;
}

.title{
  display: flex;

  transition: $transition;
  justify-content: space-between;
  margin-bottom: 15px;
}

.actualTitle{
  transition: $transition;
  position: relative;
  width: min-content;
}

.uiSelector{
  transition: $transition;
  position: relative;
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.uiSelectorTransparent{
  opacity: 0;
  pointer-events: none;
  transition: $transition;
}

.selectorUnderline{
  position: absolute;
  height: 3px;
  border-radius: v.$b_radius;
  background-color: v.$c_accent;
  width: 15px;

  left: 0;
  bottom: -2px;
  opacity: 0;
  transition: $transition;
}
