@use '../authVars' as av;
@use '../../../vars' as v;

@mixin item{
  background-color: v.$c_global;
  border-radius: v.$b_radius;

  cursor: pointer;
  box-shadow: v.$box_shadow;
  transition: av.$transition;

  &:hover{
    box-shadow: 0 0 9px v.$c_accent;
    //border: 1px solid v.$c_border;
    transform: translateY(-2px);
  }
}

.menu{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.back{
  color: v.$c_dark;
  //background-color: v.$c_global;
  //border-radius: v.$b_radius;
  height: 20px;
  width: 20px;
  @include item
  ////border: v.$c_border;
  //
  //cursor: pointer;
  //
  //box-shadow: v.$box_shadow;
  //color: v.$c_dark;
  //transition: av.$transition;
}

.option{
  font-size: 14px;
  width: 100%;
  padding: 5px 10px;
  @include item
}
//.option:hover{
//  transform: translateY(5px);
//}
//
//.back:hover{
//  transform: translateY(5px);
//}

.input{
  @include av.input
}

.help{
  display: flex;
  gap: 1px;
}
