@use '../../vars' as v;

.openButton{
  cursor: pointer;
}

.outer{
  font-size: 13px;
  padding: 10px;

  width: 230px;
  //height: 172px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dateRow{
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
}

.arrows{
  display: flex;
  font-size: 1.3em;
}

.dayNamesRow{
  display: flex;
}

.dayNamesRow > *{
  text-align: center;
  width: 290px;
}

.dayNamesRow > *:nth-last-child(-n+2){
  color: red;
}

.daysRow{
  display: flex;
  flex-direction: column;

  margin-top: -5px;
}

.daysRowInner{
  cursor: pointer;

  border-radius: 3px;
}

.daysRowInner:hover{
  background: linear-gradient(135deg, rgba(75, 74, 74, 0.50) 0%, rgba(0, 0, 0, 0.50) 71.35%, rgba(183, 19, 19, 0.50) 100%);
}

.dayNumbers{
  display: flex;
  height: 25px;
  align-items: center;
}

.dayNumbers > *{
  width: 290px;
  text-align: center;
}

.darkDay{
  color: v.$c_dark
}