@use '../../vars' as v;

.openButton{
  cursor: pointer;
}

.outer{
  font-size: 13px;
  padding: 10px;

  width: 230px;
  //height: 172px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dateRow{
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
}

.arrows{
  display: flex;
  font-size: 1.4em;
  gap:10px;
  user-select: none;
}

.actualArrow{
  cursor: pointer;
  transition: 100ms;
}
.actualArrow:hover{
  transform: scale(130%);
}

.dayNamesRow{
  display: flex;
}

.dayNamesRow > *, .dayNumbers > *{
  text-align: center;
  width: 100%;
}

.dayNamesRow > *:nth-last-child(-n+2){
  color: red;
}

.daysRow{
  display: flex;
  flex-direction: column;

  margin-top: -5px;
}

.daysRowInner{
  border-radius: 3px;

  z-index: 1;
}

.daysRowInnerClickable{
  cursor: pointer;
}

.chosenWeek{
  background: linear-gradient(135deg, rgba(75, 74, 74, 0.50) 0%, rgba(0, 0, 0, 0.50) 71.35%, rgba(183, 19, 19, 0.50) 100%);
  border-radius: v.$b_radius;
  width: 210px;
  height: 25px;
  position: absolute;
  transition: 150ms;
}

.dayNumbers{
  display: flex;
  height: 25px;
  align-items: center;
}

.dayNumbers > *{
  pointer-events: none;
}

.darkDay{
  color: v.$c_dark
}
