@use '../../../../vars' as v;

.buttons {
  display: flex;
  gap: 5px;
  position: relative;
  width: min-content;
  transition: 300ms;
}

.button {
  @include v.button;
  align-self: flex-end;
  transition: v.$transition;
}

.help {
  display: block;
  height: 0;
  width: 0;
  white-space: nowrap;
  font-size: 12px;
  color: v.$c_dark !important;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: v.$transition;
}

.helpShowed{
  opacity: 1;
  pointer-events: all;
}
